/.config.new
/session/
/sessions/
tags
/bundle/
/.done
.ruby-version
tags.temp
/scratch.vim
.session.vim
.netrwhist
yarn-error.log
node_modules/
/package.json
/Gemfile.lock
/.env.vim
/.tool-versions
/pages/
.notags
.env
/spell/
